services:
  couchdb:
    image: couchdb:3
    container_name: couchdb-local
    ports:
      - "5984:5984"
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: adminpass
    volumes:
      - couchdb_data:/opt/couchdb/data

  minio:
    image: minio/minio
    container_name: minio-local
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  couchdb_data:
  minio_data:
